
/*  GLOBAL  */

body{
  
  font-family: Geneva, Tahoma, Verdana, sans-serif;
	line-height: 20px;
  
  
}

header{
  background:#02733e;
  margin:0 auto;
  width:1200px;
  height:60px;
  width:100%;
  position: fixed;
  color:white;  
}

header blockquote{
	margin-left:80px;
	margin-top:-60px;
	padding-top:10px;
	padding-bottom:5px;
	text-transform: uppercase;


	

}

header img{

height:60px;
width:60px;
padding-top:2px;
padding-bottom:5px;
padding-left: 10px;
padding-right:10px;
}


article{
  
  width:1200px;
  margin:auto;
  
}

section{
  margin-top: 60px;
  float:left;
  
}

.about{
  background:none;
  width:300px;
  height:450px;
  position:fixed;
 
}

.about h1{
	padding-right:50px ;
  	padding-left:50px ;
  	padding-bottom:5px ;
  	padding-top: 10px;
 	text-align:left;
  	font-size:18px;
  	color:#02733e;
  	text-transform: uppercase;
  	letter-spacing: 1px;


}
.about p {
  
  padding-right:50px ;
  padding-left:50px ;
  padding-bottom:15px ;
  padding-top:0px ;
  text-align:left;
  font-size:13px;
  max-height:200px;
  font-color:black;
  
 
}

img{
  
  width:200px;
  height:200px;
  border-radius:none;
  padding-top:40px;
  padding-left:50px;
  padding-right:50px;
  padding-bottom: 5px;

  
}
.resume{
  background:none;
  width:1200px;
  height: 900px;
  text-align:left;
}

.resume p {
 
  margin-left:400px;
  margin-top: 20px;
  width:700px;
  line-height: 30px;
  font-size: 14px;
}

h2 {

  margin-top: 40px;
  margin-left:400px;
  text-transform:uppercase;
  letter-spacing:4px;
  font-size: 16px;
  color:#a63208;
  
}