
/*  GLOBAL  */

body{

	font-family: Geneva, Tahoma, Verdana, sans-serif;
	line-height: 30px;

}



/*  HOME PAGE */





/*  BIO PAGE */


nav ul{
	height:15px;
	margin: 0px;
	line-height: 20px;
	height:20px;
	vertical-align: middle;
	padding-right:20px;

}
nav li {
	padding:10px;
	display: inline;
	float:right;
	padding-right:5px;
	padding-left:10px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;

} 

.bio h3 {

	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	


}

.bio-content img{

height:200px;
width:200px;
border-radius: 100%;
display: block;
margin-right: auto;
margin-left: auto;


}
.bio p{

text-align: center;
padding-top:30px;
display:inline-block;
padding-right: 75px;
padding-left: 75px;

}

.bio h1 {

	text-transform: uppercase;
	letter-spacing: 4px;
}

.bio article{

	
	margin: 0 auto;
	width: 1000px;
	background: gray;
	height:50px;

}
.bio section{

	float: left;
 	width:500px;
 	background-color: #d3d3d3;
 	margin-top: 30px;
 	padding-top: 75px;


 }

 .bio .bio-content{

height:600px;

 }

 .bio .resume-content{
background-color: #d3d3d3;
text-align: left;
margin-top:10px; 
height:600px;


 }
.bio .resume-content li{

list-style: none;

}




/*  STYLE TILE */
