
body{

	font-family: 'Lato', sans-serif;
}

header h1{
  padding-left:50px;
  text-transform:uppercase;
  color:#4D4F51;
 
  
}

article{

	
	margin: auto;
	text-align: center;
  padding: 0 50px 0 50px

}



.bgcolor{

	background:#485B99;
	height:450px;
}

.color{

margin-top:200px;	
height:150px;
}



ul{

	list-style: none;
	width:100%;
	height: 200px;
  padding-top:25px;
  padding-left:0;
  padding-right:0;
  
}

ul p{
  
  
  margin:auto;
  margin-bottom:15px;
}
li{

	display: inline-block;
   list-style: none;
   text-align:center;
   margin: 0 10px 0 10px;
  border:solid white 1px
 
           
  
}

.c1{

	background:#485B99;
	height:100px;
	width:100px;
  color:white;

}

.c2{

	background:#173C72;
	height:100px;
	width:100px;
color:white;

}
.c3{

	background:#ED891B;
	height:100px;
	width:100px;
  color:white;
}
.c4{

	background:#4D4F51;
	height:100px;
  width:100px;
  color:white;
}
.c5{

	background:#A3A5A8;
	height:100px;
   width:100px;
  color:white;
}
.c6{

	background:#ffffff;
	height:100px;
  width:100px;
  border: solid 1px;

}
.headings{
  
  padding:50px 0 0 0;
  color:white;
  width:50%;
  margin:auto;
  
}

h1{

	font-weight: bolder;
  text-transform:uppercase;
  color:#ED891B;
   
}

p{

	font-weight:lighter;
  
}

h2{
	font-weight: normal;

}


/* ------FEELING TEXT----- */
.font h1,
.font h2,
.font h3{
  
  margin:0 20px 0 20px;
  padding-top:0px;
  padding-bottom:75px;
  display:inline-block;
 
}
.font h1{
  
  color:#ED891B;
  font-size:50px;
}
.font h2{
  
  color:#485B99;
  font-weight:normal;
  font-size:35px;
}

.font h3{
  
  color:#485B99;
  font-size:px;
  
}

.label{
  
  margin-top:50px;
  
}
