/******************  Header Styling  *******************/
body{

	font-family: 'Roboto', sans-serif;
}

header{

  	background:#4D4F51;
  	margin:auto;
  	height:80px;
  	width:100%;
  	color:white;
  	position:fixed;
  	z-index:2;
  	top: 0;
 }	

p{

	margin-bottom: :200px;
}
  /*logo*/

div{
	height: 75px;
	width: 75px;
	margin-top:0;
	border-radius: 0 0 100% 100%;
	display: inline-block;
}

/*nav*/
ul {
  text-align: right;
  display: inline;
  margin: 0;
  padding: 0px 4px 17px 0;
  list-style: none;
  float: right;
 
}
ul li {
  	font: bold 12px/18px sans-serif;
  	display: inline-block;
  	letter-spacing: 1px;
  	margin-right:-4px;
 	position: relative;
  	padding-top: 30px;
  	padding-right: 10px;
  	padding-left: 5px;
  	background: #4D4F51;
  	cursor: pointer;
  	text-transform: uppercase;
  	font-weight: 100;
  	-webkit-font-smoothing:antialiased;

}

ul li a{
	

}

a,
a:visited{
	text-decoration: none;
	color:white;
}


ul li a:hover {

  	color: #efb51d;

}
/*banner*/

.me {

	position: relative;
}

.banner{

	width:100%;
	height:auto;
	
}

.banner img{

	width:100%;
	height:100vh;
	
}

.me h1{

	line-height: 120%;
	font-size:50px;
	text-align: center;
	text-align: center;
	position: absolute;
	color: white;
	display: inline-block;
	left:0;
	right:0;
	margin:0 auto;
	top:-400;

}

span{
	padding: 5px;
	display: inline-flex;
	
}
.hidden1 {

	display: none;
}
/*****************  Image Gallery  ******************/

img {

	width:100%;
	height:auto;

}



/*****************  Image Paragraphs and Headings  ******************/


h1{
	text-align: left;
	padding:0 20px;
	font-weight: 300;
	position: absolute;
	color:white;
	z-index: 1;
	top: 60;
	line-height: 120%;
	text-transform: uppercase;


}

/*footer*/


footer{

	clear:both;
	height:100px;
	text-align:center;
	margin:auto;
	width:100%;
	background: gray;

}

/*****************  MEDIA QUERIES (TABLET) ******************/
/***********************************************************/

@media (min-width: 768px) {
/*Body Styles*/
body{



}

/* Navigation styles */




/*banner styling*/

.me {

	position: relative;
}
.me h1{


	font-size:50px;
	


	top: -252px;
}

span{
	padding: 5px;
	line-height: 120%;
}

/*Gallery*/

.main-content{

	
	width:100%;
	margin:auto;

}


.gallery{

	width:100%;
	height:auto;
	
}

.me{

	width:100%;

}


article{

	width:50%;
	float:left;
	margin-top:0;
	
}



/*Img gallery Paragraphs*/
p{

	display: inline-block;
}

p,
h1{
	padding: 1px 10px 1px 10px;
	font-size: 12px;
	margin-bottom:100px;

}

}

footer{

	clear:both;
	height:100px;
	text-align:center;
	margin:auto;
	width:100%;
	background: #4D4F51;


}

footer img{

	height:40px;
	width: 40px;
	opacity: .25;
	margin:8px;
	padding-top: 15px;
	
}

/*****************  MEDIA QUERIES (DESKTOP) ******************/
/************************************************************/

@media (min-width: 1024px) {

body{

	background: white;

}

/* Header Styling*/
header{

	margin-bottom:50px;
	float: left;
	width: 20%;
	height: 100vh;
}

.nav{

	width: 50%;
	
	
	

	text-align: left;

}

.logo{

	height: 150px;
	

	width: 150px;
}

.logocontain{

	text-align: center;
	

	width: 100%;
	

	height: auto;
}

ul{

	margin-right:10%;

}

ul li{

	width: 100%;
}

ul li a{


	 margin: 0 auto;


}

ul {
  text-align: right;
  display: inline;
  list-style: none;
 
}

ul li {
  	padding-top: 30px;
  	padding-right: 0px;
  	padding-left: 0px;
  	

  	margin: 0 auto;
}
/*Gallery*/
.main-content{

	max-width:80%;
	float: right;
	margin:auto;

}
.me{

	padding:auto;
	

	margin:auto;
	text-align: center;
	position: relative;
}

.gallery{

	width:100%;
	height:auto;
	
	
}



.gallery img:hover{

	opacity: .5;

}

article{

	width:50%;
	float:left;
	margin-top:0;
	
}

article img{


}
.bottom{

	margin-bottom:25px;
}


}

/************************** LARGE DISPLAYS ******************************/
/***********************************************************************/

@media (min-width : 1824px){

	article{

	width:33.333333%;
	float:left;
	margin-top:0;
	
}

}

/**********************PROJECT PAGES STYLING*************************************************************/



/*images*/



.more{

	width:80%;
	clear:both;
	
	margin-left:auto;
	margin-right:auto;

}

.more img{

	margin-bottom:20px;
}
.more img:hover{

	opacity: 1;

}

/**********************END PROJECT PAGES STYLING*********************************************************/






