/******************  Header Styling  *******************/
body{

	font-family: 'Raleway', sans-serif;
}

header{

  	background:#4D4F51;
  	margin:auto;
  	height:50px;
  	width:100%;
  	color:white;
  	position:fixed;
  	z-index:2;
 }	

  /*logo*/

div{
	height: 75px;
	width: 75px;
	background: #ED891B;
	margin-top:0;
	border-radius: 0 0 100% 100%;
	display: inline-block;
}

/*nav*/
ul {
  text-align: right;
  display: inline;
  margin: 0;
  padding: 0px 4px 17px 0;
  list-style: none;
  float: right;
 
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #4D4F51;
  cursor: pointer;

}
ul li:hover {
  background: #555;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: -100;
  width: 150px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;

}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
}
ul li ul li:hover { background: #666; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}



.nav{

	
}

	/*banner*/

	.me {

	position: relative;
}

.banner{

		width:100%;
		height:auto;
		opacity: .75;
	}

.me h1{

	line-height: 120%;
	font-size:20px;
	text-align: center;
	text-align: center;
	position: absolute;
	color: white;
	font-weight: bolder;
	display: inline-block;
	left:0;
	right:0;
	margin:0 auto;
	top:-150;
}

span{
	border: 4px solid;
	padding: 5px;
}
.hidden1 {

	display: none;
}
/*****************  Image Gallery  ******************/

img {

	width:100%;
	height:auto;

	

}



/*****************  Image Paragraphs and Headings  ******************/

p, 
h1{
	text-align: left;
	padding:0 20px;
	font-weight: 300;
	position: absolute;
	color:white;
	z-index: 1;
	top: 60;
	line-height: 120%;
	text-transform: uppercase;


}

/*footer*/


footer{

	clear:both;
	height:75px;
	text-align:center;
	margin:auto;
	width:100%;
	background: gray;

}
/**************************IPHONE 6 PLUS********************************/
/**********************************************************************/
@media (min-width: 414px){



}
/*****************  MEDIA QUERIES (TABLET) ******************/
/***********************************************************/

@media (min-width: 768px) {
/*Body Styles*/
body{



}

/* Header Styles */


/*banner styling*/

.me {

	position: relative;
}
.me h1{

	line-height: 120%;
	font-size:30px;
	text-align: center;
	text-align: center;
	position: absolute;
	color: white;
	font-weight: bolder;
	display: inline-block;
	left:0;
	right:0;
	margin:0 auto;
	top:-175;
}

span{
	border: 4px solid;
	padding: 5px;
}

/*Gallery*/
.main-content{

	
	width:100%;
	height:100%;
	margin:auto;

}

.banner img{

		width:100%;
		height:auto;
		margin-top:-400px;
		opacity: .75;
	}

.gallery{

	width:100%;
	height:500px;
	
}

.me{

	width:100%;

}

.gallery img{

	margin-top:0px;


}

article{

	width:50%;
	float:left;
	margin-top:0;
	
}


/*Img gallery Paragraphs*/
p{

	display: inline-block;
}

p,
h1{
	padding: 1px 10px 1px 10px;
	font-size: 12px;
	margin-bottom:2px;

}

}

footer{

	clear:both;
	height:100px;
	text-align:center;
	margin:auto;
	width:100%;
	background: #4D4F51;


}

footer img{

	height:40px;
	width: 40px;
	opacity: .25;
	margin:8px;
	padding-top: 15px;
	
}

/*****************  MEDIA QUERIES (DESKTOP) ******************/
/************************************************************/

@media (min-width: 1024px) {

body{

	background: white;

}

/* Header Styling*/
header{

	margin-bottom:50px;
}

div{
	height: 75px;
	width: 75px;
	float:left;
	margin-left:14.4%;
}

.nav {

	margin-right:14.4%;
}
.nav li{

	float:right;
	display:inline-block;
	text-decoration: none;
	list-style: none;
	padding: 0 0px 0px 20px;
	color:#ED891B;


}

.nav li:hover{

	color:white;
}


/*banner styling*/
.me {

	position: relative;
}
.me h1{

	line-height: 120%;
	font-size:30px;
	text-align: center;
	text-align: center;
	position: absolute;
	color: white;
	font-weight: bolder;
	display: inline-block;
	left:0;
	right:0;
	margin:0 auto;
	top:-300;
}

span{
	border: 4px solid;
	padding: 5px;
}
.banner img{

		width:100%;
		height:auto;
		margin-top:-650px;
		opacity: .75;
	}
/*Gallery*/
.main-content{

	
	max-width:75%;
	height:100%;
	margin:auto;

}
.me{

	padding:auto;
	margin:auto;
	text-align: center;
	position: relative;
}

.gallery{

	width:100%;
	height:500px;
	margin-top: 50px;
	
	
}

.gallery img{

	margin-bottom: 10%;


}

.gallery img:hover{

	opacity: .5;

}

article{

	width:45%;
	float:left;
	margin-top:0;
	margin-left:2.5%;
	margin-right:2.5%;
	
}
.bottom{

	margin-bottom:25px;
}


}

/************************** LARGE DISPLAYS ******************************/
/***********************************************************************/

@media (min-width : 1824px){


.banner img{

		width:100%;
		height:auto;
		margin-top:-1000px;
		opacity: .75;
	}

}









